/*


    font-family: 'Forum', cursive;

    font-family: 'EB Garamond', serif;


*/



// Front Page Nav
.front-page{


    & h1 {
        font-size: 5rem;
        font-family: 'EB Garamond', serif;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    & h2 {
        font-size: 2.7rem;
        font-family: 'EB Garamond', serif;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    
    &__nav {
        & .menu-item {
            display: inline-block;
            & > a {
                font-family: 'EB Garamond', serif;
                font-size: 1.9rem;
                text-decoration: none;
                text-transform: uppercase;
                color: white;
                letter-spacing: 2px;
            }
        }
    }
}

// Posts 
.categories{
    text-align: center;
    &__posts{
        letter-spacing: 2px;
        line-height: 3rem;
        &__title {
            font-family: 'EB Garamond', serif;
            font-size: 2.6rem;
            margin-bottom: 1rem;
            font-weight: 400;
            text-transform: uppercase;
            color: white;
        }

        &__content p {
            color: white;
            font-family: 'Forum', cursive;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 5px;
            display: inline;
            color: white;
        }
    }
}
