/*


    font-family: 'Forum', cursive;

    font-family: 'EB Garamond', serif;


*/



// Front Page Nav
.front-page{


    & h1 {
        font-size: 5rem;
        font-family: 'EB Garamond', serif;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    & h2 {
        font-size: 2.7rem;
        font-family: 'EB Garamond', serif;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    
    &__nav {
        & .menu-item {
            display: inline-block;
            & > a {
                font-family: 'EB Garamond', serif;
                font-size: 1.9rem;
                text-decoration: none;
                text-transform: uppercase;
                color: white;
                letter-spacing: 2px;
            }
        }
    }
}