.categories{
    padding: 3rem 0;
    &__posts{
        &__thumbnail {
            height: 250px;
            width: 400px;
            margin: 0 auto;
            border-radius:50%;
            border: 4px solid silver;
            background-size: auto 200%;
            background-position: center;
            background-repeat: no-repeat;
            background-color: rgb(83, 83, 83);
            background-blend-mode: overlay;
            filter: grayscale(100%);
            transition: all 1s;
            margin-bottom: 2rem;
            

            &:hover {
                filter: grayscale(0%);
                border: 4px solid rgb(146, 125, 5);
                background-color: unset;
            }

        }     
        
        &:not(:last-child){
            margin-bottom: 5rem;
        }   
    }   
}